@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "NanumSquare" "GowunBatang-Regular";
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  color: #000;
}

@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare_acL.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
